workflow/gift_bot_v3 (1).json
{
  "name": "gift_bot_v3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        144
      ],
      "id": "4aa94557-8369-40e4-8ff0-1dc33a345bae",
      "name": "Telegram Trigger",
      "webhookId": "04b0ddc1-1070-4e01-823d-ba431854c078",
      "credentials": {
        "telegramApi": {
          "id": "zmLlWgOq7Q6Arc2Q",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        432
      ],
      "id": "edd936b6-eb0f-4fbd-bdc6-300994e0c709",
      "name": "Wait",
      "webhookId": "206a4537-e4ad-4acc-a672-12b334327f66"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"latest_user_message\": {{ $json.text }}\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        352
      ],
      "id": "bb4f2e0f-3a76-4ce6-b5fc-f854b294141a",
      "name": "get last message"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XTv72VWiqRylV81PEIp3zoUoVq5y8ld20kCcha7jqSY",
          "mode": "list",
          "cachedResultName": "giftbot_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XTv72VWiqRylV81PEIp3zoUoVq5y8ld20kCcha7jqSY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "user_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XTv72VWiqRylV81PEIp3zoUoVq5y8ld20kCcha7jqSY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chat_id",
              "lookupValue": "={{ $json.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        448,
        656
      ],
      "id": "42af8b2c-ba57-4556-a338-c7e8a11e3fdd",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PYRqKK69fYdfxLpe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst cutoff = new Date(Date.now() - 24 * 60 * 60 * 1000); // 24 часа назад\n\nconst filtered = items.filter(item => {\n  try {\n    const ts = new Date(item.json.timestamp);\n    return ts >= cutoff;\n  } catch (e) {\n    return false;\n  }\n});\n\nreturn filtered;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        656
      ],
      "id": "b338822c-a298-42f4-ae27-2c16a279fa92",
      "name": "date filter"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst history = items.map(item => ({\n\trole: item.json.role,\n\ttext: item.json.text,\n}));\n\nconst latestText = $json.latest_user_message?.trim();\n\n// Создаём последний промт, только если текст непустой\nconst latestMessage = latestText\n\t? {\n\t\trole: 'user',\n\t\ttext: latestText,\n\t}\n\t: null;\n\nconst systemPrompt = {\n  role: \"system\",\n  text: `Ты — дружелюбный, внимательный и немного креативный AI-ассистент, который помогает подобрать идеальный подарок для любого человека.\n\n🧠 При первом знакомстве ты обязательно ёмко рассказываешь:\n- кто ты такой (AI, помогающий подбирать подарки)\n- как ты работаешь (учитываешь возраст, интересы, повод, бюджет и близость)\n- что тебе нужно узнать у пользователя, чтобы помочь лучше\n- Обязательно просишь не отправлять тебе картинки, так как пока что не умеешь их распознавать\n\n💡 Ты обязан вежливо и с юмором уточнять всю необходимую информацию: кто получатель, какой повод подарка, тип отношений, бюджет.\n\n🔍 Уточняй:\n- кто получатель (пол, возраст, интересы)\n- повод (день рождения, праздник, просто так)\n- тип отношений (друг, пара, коллега и т.д.)\n- бюджет\n\n🎁 Предлагай подарки из разных категорий:\n- материальные (гаджеты, книги, аксессуары)\n- нематериальные (впечатления, эмоции)\n- DIY и символические\n\n💬 Оформляй ответ красиво:\n- заголовки\n- списки\n- эмодзи 😄🎁✨\n\nПредлагай нетипичные варианты, всегда подбирай подарок, чтобы создать wow-эффект.\n\nТы должен обязательно всегда предлагать конкретные подарки, рассказывать сколько они стоят в рублях и где их можно купить. \n\n\n📌 Учитывай уместность: не предлагай личное в формальных отношениях. Степень интимности подарка должна соответствовать степени близости.\n\nОбщайся легко, тепло, с капелькой юмора — как классный советчик, который хочет реально помочь 🎉`\n};\n\nreturn [\n\t{\n\t\tjson: {\n\t\t\tchat_id: $json.chat_id,\n\t\t\tmessages: latestMessage\n\t\t\t\t? [systemPrompt, ...history, latestMessage]\n\t\t\t\t: [systemPrompt, ...history],\n\t\t},\n\t},\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        656
      ],
      "id": "e4c2b62a-4a28-4744-a3d8-9d781c88b971",
      "name": "create message"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://llm.api.cloud.yandex.net/foundationModels/v1/completion",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"modelUri\": \"gpt://b1gdhufbi3knura441u2/yandexgpt/latest\",\n  \"completionOptions\": {\n    \"stream\": false,\n    \"temperature\": 0.7,\n    \"maxTokens\": 1000\n  },\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}\n",
        "headerParametersJson": "{\n  \"Authorization\": \"Api-Key AQVNxflx2dUfCWQkV6H8Y6vDRFbHbuUL5jmINK7n\",\n  \"Content-Type\": \"application/json\"\n}"
      },
      "name": "Query YandexGPT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1024,
        656
      ],
      "id": "543193e8-bd6b-4e4d-83ba-6a2dafc82d20"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst chat_id = String($json.chat_id || $node[\"create message\"].json.chat_id);\nconst text = $json.result.alternatives[0].message.text;\nconst timestamp = new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      chat_id,\n      role: 'assistant',\n      text,\n      timestamp,\n    }\n  }\n];\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        432
      ],
      "id": "9def8df9-e844-4a42-be8d-e9ab2dc37da9",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -352,
        176
      ],
      "id": "5afce641-e67c-4fba-9966-1a397a097222",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XTv72VWiqRylV81PEIp3zoUoVq5y8ld20kCcha7jqSY",
          "mode": "list",
          "cachedResultName": "giftbot_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XTv72VWiqRylV81PEIp3zoUoVq5y8ld20kCcha7jqSY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "user_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XTv72VWiqRylV81PEIp3zoUoVq5y8ld20kCcha7jqSY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "role": "={{ $json.role }}",
            "text": "={{ $json.text }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1424,
        320
      ],
      "id": "cdf1b27a-3c50-45d5-b416-1a5ffb0f7262",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PYRqKK69fYdfxLpe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        512
      ],
      "id": "c79cb8f4-ec6e-4614-88c2-75f11fa9510c",
      "name": "Send a text message",
      "webhookId": "a813c96d-2d0b-4641-82f8-ed20883d4d24",
      "credentials": {
        "telegramApi": {
          "id": "zmLlWgOq7Q6Arc2Q",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst chat_id = $json.message.chat.id;\nconst text = $json.message.text;\nconst timestamp = new Date().toISOString(); // текущее время\n\nreturn [\n  {\n    json: {\n      chat_id,\n      role: \"user\",        // или \"assistant\", если ты сохраняешь ответ\n      text,\n      timestamp,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        432
      ],
      "id": "908f8b6f-6d89-4bf4-90a8-a68b854f7b2b",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XTv72VWiqRylV81PEIp3zoUoVq5y8ld20kCcha7jqSY",
          "mode": "list",
          "cachedResultName": "giftbot_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XTv72VWiqRylV81PEIp3zoUoVq5y8ld20kCcha7jqSY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "user_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XTv72VWiqRylV81PEIp3zoUoVq5y8ld20kCcha7jqSY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id.toString() }}",
            "role": "={{ $json.role }}",
            "text": "={{ $json.text }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        736,
        432
      ],
      "id": "d4a89b84-4712-46d7-afc8-be69c5b0d7be",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PYRqKK69fYdfxLpe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        288
      ],
      "id": "20749d8a-4906-45a9-9e45-7660e1264525",
      "name": "Send a chat action",
      "webhookId": "e333e16a-bb44-4131-bd24-9a6bdf8062f1",
      "credentials": {
        "telegramApi": {
          "id": "zmLlWgOq7Q6Arc2Q",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.chat_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        160
      ],
      "id": "b63f8f4c-760c-4d0f-8e3e-55fc43738318",
      "name": "Send a chat action1",
      "webhookId": "e333e16a-bb44-4131-bd24-9a6bdf8062f1",
      "credentials": {
        "telegramApi": {
          "id": "zmLlWgOq7Q6Arc2Q",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get last message": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "date filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "date filter": {
      "main": [
        [
          {
            "node": "create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create message": {
      "main": [
        [
          {
            "node": "Query YandexGPT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a chat action1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query YandexGPT": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea6eb482-396e-4e60-85b6-05c4c7d9ad47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "876785e6e194e5ec9e2177a5144bdec0379d8c76e3104cb0a04f86d6ff7a72dd"
  },
  "id": "9KEA7v2r8EkkZIOM",
  "tags": []
}